table{
    background-color: rgb(114, 79, 79);
    text-align: center;

    height: 140px;

}
table th{
    background-color: rgb(194, 138, 147);
}


table tr th {
font-size: 20px;
    background-color:rgb(123, 123, 182);
    width :80px;
    font-family: 'Berkshire Swash', cursive;
}
table td{
    background-color: mistyrose;
    width: 70px;
    height:30px;
 
    font-size: 18px;
    font-family: fantasy;
}

h1{
    font-family: 'Berkshire Swash', cursive;
} 

button{
    display: block;
    width: 116px;
    height: 36px;
    margin-left: 20px;
    color: white;
    background-color: black;
margin-top: 40px;}

    button:hover {
        background-color:rgb(170, 87, 87);
        animation-duration: 350ms;
        }